**/.idea
**/.DS_Store
**/db-data

# broker app
broker-service/brokerApp

# frontend app
front-end/frontApp

# auth app
authentication-service/authApp

# log service
logger-service/loggerServiceApp

# mail service
mail-service/mailerApp
